@import url(colores.css);
.cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-align: center;
}

#box-create-compost {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vd-create-compost {
    width: 40rem;
    height: 20rem;

    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--primary-green);
}

#como-hacer-compost {
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    margin-bottom: 2rem;
}

#box-how-make-compost {
    width: 100%;
}
#img-how-make-compost {
    width: 50%;
    margin-left: 2rem;
}

#list-things {
    width: 50%;
}
#list-things li {
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}




.tarjetas-info {
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
}
.tarjetas-info h3 {
    color: white;
    font-size: 2rem;
}
.tarjetas-info p {
    font-size: 1rem;
    text-align: justify;
    color: white;
}


.box-video-yt {
    width: 80%;
    height: 50vh;
    background-color: var(--light-green);
}
.video-yt {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}