@import url(colores.css);
.cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}
h2 {
    text-align: center;
}

#box-composta-participa {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
#img-composta-participa {
    width: 40%;
}